<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @favorite.title %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @favorite.imdb_id %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
